$bg: rgba(#1e133d, 1);
$bgA: rgba(#1e133d, 0.3);
$c1: #A42F8E;
$c2: #F35182;
$c3: #F2709E;
$c4: #E173F6;
$c5: #FFA48D;
$c6: #FEA3A1;
$shadow: rgba(#F2709E, 0.4);
$border_col: rgba(#F2709E, 1);
$best_so_far: rgba(#F35182, 0.1);
