configuration {
        modi: "window,run,ssh,combi,drun";
        combi-modi: "window,drun";
        font: "Source Code Pro 12";
        terminal: "alacritty";
}
@theme "/home/godstar/.local/share/rofi/themes/simple-tokyonight.rasi"
@import "~/.cache/wal/colors-rofi-dark"
